<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SimpleChat</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css" media="screen" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="wrapper"></div>
    <input class="message" type="text" placeholder="Enter message and press enter"/>
    <div class="initModal">
    	<h3>What's your name?</h3>
    	<input type="text" class="username" placeholder="Enter your name and press enter"/>
    </div>
    <script src="../js/jquery.min.js" charset="utf-8"></script>
    <script src="../js/firebase.js" charset="utf-8"></script>
    <script src="../js/app.js" charset="utf-8"></script>
  </body>
</html>
